In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as plt

In [49]:
from os import listdir
import itertools

In [21]:
#import gensim

In [5]:
%matplotlib inline

In [6]:
path = './data/'

In [7]:
files = listdir(path)
files

['170327 PURE Data Challenge Powerpoint.pdf',
 'org_hierarchy.csv',
 'readme.txt',
 'outputs.csv',
 'org_key.csv',
 'authors.csv',
 'staff.csv',
 'JGI-PURE Data Challenge Information Sheet.pdf']

In [8]:
for s in files:
    if 'csv' in s:
        exec("%s=pd.read_csv(path+s)" % (s[:-4]))
        exec("%s = %s.fillna(0)" % (s[:-4], s[:-4]))
        print s[:-4]
        exec("print %s.shape" % (s[:-4]))

org_hierarchy
(447, 2)
outputs
(34123, 9)
org_key
(448, 5)
authors
(45706, 3)
staff
(8328, 9)

In [25]:
people.head()

,PERSON_ID,PUBLICATION_ID,PUBLISHED_NAME_x,PUBLISHED_NAME_y,FORENAME,SURNAME,ORGANISATION_CODE,TYPE,JOB_TITLE,START_DATE,END_DATE
0,7761,2449478,AJ Bailey,AJ Bailey,Allen,Bailey,VESC,staff,"Emeritus Professor in Biochemistry, Muscle & C...",01/04/1996,31/12/2199
1,7761,2448863,AJ Bailey,AJ Bailey,Allen,Bailey,VESC,staff,"Emeritus Professor in Biochemistry, Muscle & C...",01/04/1996,31/12/2199
2,6028,2459679,LC Brown,Laurinda C Brown,Laurinda,Brown,EDUC,staff,Reader in Mathematics Teacher Education,01/08/2015,31/12/2019
3,6028,2459679,LC Brown,LC Brown,Laurinda,Brown,EDUC,staff,Reader in Mathematics Teacher Education,01/08/2015,31/12/2019
4,6028,2459679,LC Brown,L.C Brown,Laurinda,Brown,EDUC,staff,Reader in Mathematics Teacher Education,01/08/2015,31/12/2019

In [23]:
people = pd.merge(authors,staff, on='PERSON_ID')

In [12]:
orgs = pd.DataFrame()
orgs['ORGANISATION_CODE'] = staff.ORGANISATION_CODE.unique()
orgs.shape

(101, 1)

In [13]:
orgs['PARENT_CODE']=' '
orgs['ORGANISATION_TYPE']=' '
orgs['FULL_NAME']=' '
for org in orgs.ORGANISATION_CODE.values:
    orgs.loc[orgs.ORGANISATION_CODE==org,'PARENT_CODE'] = org_hierarchy.loc[org_hierarchy.CHILD_ORG_CODE==org,'PARENT_ORG_CODE'].values
    orgs.loc[orgs.ORGANISATION_CODE==org,['ORGANISATION_TYPE','FULL_NAME']] = org_key.loc[org_key.ORGANISATION_CODE==org,['ORGANISATION_TYPE','FULL_NAME']].values

In [14]:
orgs['GRANDPARENT_CODE']=' '
for org in orgs.PARENT_CODE.unique():
    orgs.loc[orgs.PARENT_CODE==org,'GRANDPARENT_CODE']=org_hierarchy.loc[org_hierarchy.CHILD_ORG_CODE==org,'PARENT_ORG_CODE'].values

In [15]:
orgs.head()

,ORGANISATION_CODE,PARENT_CODE,ORGANISATION_TYPE,FULL_NAME,GRANDPARENT_CODE
0,ENGL,HUMS,ACADEMIC DEPARTMENT,Department of English,FOAT
1,CHEM,FSCI,ACADEMIC SCHOOL,School of Chemistry,ACAD
2,SPAI,FSSL,ACADEMIC SCHOOL,"School of Sociology, Politics and Internationa...",ACAD
3,HIST,HUMS,ACADEMIC DEPARTMENT,Department of History (Historical Studies),FOAT
4,SOCS,FMDY,ACADEMIC SCHOOL,School of Clinical Sciences,ACAD

In [27]:
people_orgs = pd.merge(people,orgs, on='ORGANISATION_CODE')
people_orgs.head()

,PERSON_ID,PUBLICATION_ID,PUBLISHED_NAME_x,PUBLISHED_NAME_y,FORENAME,SURNAME,ORGANISATION_CODE,TYPE,JOB_TITLE,START_DATE,END_DATE,PARENT_CODE,ORGANISATION_TYPE,FULL_NAME,GRANDPARENT_CODE
0,7761,2449478,AJ Bailey,AJ Bailey,Allen,Bailey,VESC,staff,"Emeritus Professor in Biochemistry, Muscle & C...",01/04/1996,31/12/2199,FMDY,ACADEMIC SCHOOL,School of Veterinary Sciences,ACAD
1,7761,2448863,AJ Bailey,AJ Bailey,Allen,Bailey,VESC,staff,"Emeritus Professor in Biochemistry, Muscle & C...",01/04/1996,31/12/2199,FMDY,ACADEMIC SCHOOL,School of Veterinary Sciences,ACAD
2,25435,2777706,MJ Toscano,Michael J Toscano,Michael,Toscano,VESC,staff,Research Fellow,01/11/2016,30/11/2018,FMDY,ACADEMIC SCHOOL,School of Veterinary Sciences,ACAD
3,25435,2777706,MJ Toscano,M Toscano,Michael,Toscano,VESC,staff,Research Fellow,01/11/2016,30/11/2018,FMDY,ACADEMIC SCHOOL,School of Veterinary Sciences,ACAD
4,25435,2777706,MJ Toscano,MJ Toscano,Michael,Toscano,VESC,staff,Research Fellow,01/11/2016,30/11/2018,FMDY,ACADEMIC SCHOOL,School of Veterinary Sciences,ACAD

In [39]:
DF = pd.merge(people_orgs, outputs, on='PUBLICATION_ID')
DF.head()

,PERSON_ID,PUBLICATION_ID,PUBLISHED_NAME_x,PUBLISHED_NAME_y,FORENAME,SURNAME,ORGANISATION_CODE,TYPE_x,JOB_TITLE,START_DATE,...,FULL_NAME,GRANDPARENT_CODE,TITLE,TYPE_NO,TYPE_y,PUBLICATION_DAY,PUBLICATION_MONTH,PUBLICATION_YEAR,KEYWORDS,ABSTRACT
0,7761,2449478,AJ Bailey,AJ Bailey,Allen,Bailey,VESC,staff,"Emeritus Professor in Biochemistry, Muscle & C...",01/04/1996,...,School of Veterinary Sciences,ACAD,Quantitative determination of collagen cross-l...,5005,contributiontobookanthology/chapter,0.0,0.0,2009,0,0
1,7761,2448863,AJ Bailey,AJ Bailey,Allen,Bailey,VESC,staff,"Emeritus Professor in Biochemistry, Muscle & C...",01/04/1996,...,School of Veterinary Sciences,ACAD,Collagen in its fibrillar state is protected f...,5086,contributiontojournal/article,0.0,3.0,2008,0,0
2,25435,2777706,MJ Toscano,Michael J Toscano,Michael,Toscano,VESC,staff,Research Fellow,01/11/2016,...,School of Veterinary Sciences,ACAD,Dietary long chain omega-3 polyunsaturated fat...,5011,contributiontobookanthology/conference,0.0,0.0,2011,0,0
3,25435,2777706,MJ Toscano,M Toscano,Michael,Toscano,VESC,staff,Research Fellow,01/11/2016,...,School of Veterinary Sciences,ACAD,Dietary long chain omega-3 polyunsaturated fat...,5011,contributiontobookanthology/conference,0.0,0.0,2011,0,0
4,25435,2777706,MJ Toscano,MJ Toscano,Michael,Toscano,VESC,staff,Research Fellow,01/11/2016,...,School of Veterinary Sciences,ACAD,Dietary long chain omega-3 polyunsaturated fat...,5011,contributiontobookanthology/conference,0.0,0.0,2011,0,0

In [20]:
orgs.ORGANISATION_CODE.unique()

array(['ENGL', 'CHEM', 'SPAI', 'HIST', 'SOCS', 'ARTF', 'SSCM', 'BISC',
       'LCVS', 'VESC', 'ORDS', 'MECH', 'THRS', 'AERO', 'EENG', 'EDUC',
       'CLAS', 'IFAC', 'SPOL', 'GEOG', 'PHPH', 'LAWD', 'MATH', 'PSYC',
       'ACFI', 'BIOC', 'EMAT', 'FATV', 'PANM', 'PHYS', 'PHIL', 'MGRC',
       'THTR', 'CIVE', 'DFAS', 'MODL', 'GELY', 'VCAD', 'MVEN', 'NCCC',
       'COSC', 'ITAL', 'GERM', 'EFIM', 'MEED', 'QUEN', 'HUMS', 'ARCH',
       'ORED', 'FREN', 'MUSI', 'ENGF', 'VGEN', 'ECON', 'ISYS', 'ANAT',
       'VPIM', 'IMAN', 'HART', 'MDYF', 'MSAD', 'SITG', 'MVSF', 'CRSM',
       'DPPP', 'VICH', 'RUSS', 'ATHF', 'PERS', 'NSQI', 'GSEN', 'BPRO',
       'INOV', 'SCIF', 'BCAP', 'ADMO', 'HILA', 'IPSS', 'INTL', 'FINC',
       'LANG', 'WILL', 'CARA', 'STHE', 'BFAC', 'BRDC', 'FSTA', 'SAFE',
       'READ', 'CMPO', 'ADSI', 'UNPA', 'ITEL', 'INFO', 'OPPO', 'TSSP',
       'SSLF', 'WIDE', 'SART', 'CABI', 'PRIN'], dtype=object)

In [17]:
orgs.GRANDPARENT_CODE.unique()

array(['FOAT', 'ACAD', 'FMDY', 'FENG', 'FSCI', 'FSSL', 'UNIV', 'SUPP',
       'DEST', 'DRCO', 'DPER'], dtype=object)

In [19]:
orgs.PARENT_CODE.unique()

array(['HUMS', 'FSCI', 'FSSL', 'FMDY', 'FOAT', 'VESC', 'QUEN', 'MVEN',
       'PHYS', 'FMVS', 'EFIM', 'SART', 'FENG', 'CORP', 'MODL', 'DRES',
       'DITS', 'CHSE', 'DLIB', 'DEST', 'DRAA', 'DSPP', 'DSTM', 'DSEH',
       'DPER', 'PROM', 'DFIN', 'RESS', 'DSTS', 'SOFM', 'DARG', 'DCMM',
       'PERS', 'INST'], dtype=object)

In [61]:
publication_orgs = {}
for pubid in DF.PUBLICATION_ID.unique():
    wds = DF.loc[DF.PUBLICATION_ID==pubid].PARENT_CODE.unique()    
    if len(wds) > 1:
        yr = DF.loc[DF.PUBLICATION_ID==pubid].PUBLICATION_YEAR.values[0]
        if yr not in publication_orgs.keys():
            publication_orgs[yr] = {}
        for w in itertools.permutations(wds,2):
            if w in publication_orgs[yr].keys():
                publication_orgs[yr][w]+=1
            else: 
                publication_orgs[yr][w]=1

In [64]:
pd.DataFrame(publication_orgs).to_csv(path+'publications_orgs_count.csv')

In [55]:
publication_orgs[2719745][0]

array(['QUEN', 'MVEN'], dtype=object)